<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>X-Lotl &mdash; Главная страница</title>
    <!-- <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="lamp.css">
    <link rel="stylesheet" href="header_footer.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="recommend.css">
    <link rel="stylesheet" href="content.css">

</head>
<body>
    <link rel="stylesheet" href="nightMode.css" v-if='IsaDay == false'>
    <link rel="stylesheet" href="lightMode.css" v-else>

    <!-- Заголовок -->
    <header>
        <!-- Логотип X-Lotl -->
        <div id="logo-img"><img src="img/logo.png" title="X-Lotl"></div>
        <!-- Название -->
        <div id="main-title">
            <h1>ꊼ-꒒ꂦ꓄꒒</h1>
        </div>
        <!-- Смена темы день/ночь -->
        <div id="dark-theme-button">
            <div><input v-model='IsaDay' class="l" type="checkbox" checked></div>
        </div>
    </header>
    
    <!-- Навигационная-панель -->
    <section class="nav-flex">
        <nav id="main-nav">
            <div class="div-nav">
                <a href="#" class="nav-element selected-nav">Все потоки</a>
                <a href="#" class="nav-element"><span class="nav-text">Разработка</span></a>
                <a href="#" class="nav-element"><span class="nav-text">Администрирование</span></a>
                <a href="#" class="nav-element"><span class="nav-text">Дизайн</span></a>
                <a href="#" class="nav-element"><span class="nav-text">Менеджмент</span></a>
                <a href="#" class="nav-element"><span class="nav-text">Маркетинг</span></a>
                <a href="#" class="nav-element"><span class="nav-text">Научпоп</span></a>
            </div>
            
            <div id="login-axolotl"><img v-if="IsaDay" src="img/ProfileIcon.png"><img v-else src="img/ProfileIconNight.png"></div>
        </nav>
    </section>

    <!-- Основной контент -->
    <main id="content-block">
        <!-- Выбор редакции -->
        <section id="our-selection">
            <h2>Выбор редакции</h2>
            <div class="slider">
                <div class="slide-arrow"><img src="img/arrow-left.png"></div>
                
                <div class="selection-posts">
                    <img src="img/test.png">
                    <figcaption>Как научиться думать, как тестировщик</figcaption>
                </div>

                <div class="selection-posts">
                    <img src="img/test3.jpeg">
                    <figcaption>Да пишите вы сами этот наш контент</figcaption>
                </div>

                <div class="selection-posts">
                    <img src="img/test2.png">
                    <figcaption>Я не чувствую давления async</figcaption>
                </div>
                
                <div class="slide-arrow"><img src="img/arrow-right.png"></div>
            </div>
        </section>
    </main>

    <!-- Модальное окно авторизации -->
    <section id="authorize-modal" class="my-modal hidden">
        <div>
            <div class="close-modal">x</div>

            <img src="img/hi.png" width="253">
            <h1>Привет!</h1>

            <div class="warning"><input type="text" class="modal-input" placeholder="Имя пользователя" style="margin-top: 10px;"></div>
            <input type="password" class="modal-input" placeholder="Пароль" style="margin-top: 30px;">

            <h4 class="modal-danger" style="margin-top: 10px;">Неправильный логин или пароль!</h4>

            <button class="modal-button" style="margin-top: 40px;">Войти</button>
            <div id="link-wrapper"><a href="#" id="register-link">Новенький тут? Зарегистрироваться</a></div>
        </div>
    </section>

    <section id="register-modal" class="my-modal hidden">
        <div>
            <div class="close-modal">x</div>

            <img src="img/read.png" width="253">
            <h1>Давайте с Вами познакомимся!</h1>

            <input type="text" class="modal-input" placeholder="Имя пользователя" style="margin-top: 10px;">
            <div class="warning"><input type="password" class="modal-input" placeholder="Пароль" style="margin-top: 20px;"></div>
            <div class="warning"><input type="password" class="modal-input" placeholder="Повторите пароль" style="margin-top: 20px;"></div>

            <h4 class="modal-danger" style="margin-top: 10px;">Пароли не совпадают!</h4>

            <button class="modal-button" style="margin-top: 10px; font-size: 34px;">Зарегистрироваться</button>
            <div id="link-wrapper"><a href="#" id="login-link">Назад к логину</a></div>
        </div>
    </section>

    <!-- Футер -->
    <footer id="basement">
        <span>WebDev Team &#8251; 2021</span>
    </footer>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="homepage.js"></script>
</body>
</html>