<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>X-Lotl &mdash; Главная страница</title>
    <!-- <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="lamp.css">
    <link rel="stylesheet" href="header_footer.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="recommend.css">
    <link rel="stylesheet" href="content.css">

</head>
<body>
    <link rel="stylesheet" v-bind:href="getModeCssFile()">

    <!-- Заголовок -->
    <header>
        <!-- Логотип X-Lotl -->
        <div id="logo-img"><a href="/Homepage.html"><img src="img/logo.png" title="X-Lotl"></a></div>
        <!-- Название -->
        <div id="main-title">
            <h1>ꊼ-꒒ꂦ꓄꒒</h1>
        </div>
        <!-- Смена темы день/ночь -->
        <div id="dark-theme-button">
            <div><input v-model='IsaDay' @change="onModeChange()" class="l" type="checkbox" checked></div>
        </div>
    </header>
    
    <!-- Навигационная-панель -->
    <section class="nav-flex">
        <nav id="main-nav">
            <div class="div-nav">
                <a href="#" class="nav-element" :class="{'selected-nav': selectedType == 0}" @click="selectedType = 0">Все потоки</a>
                <a href="#" class="nav-element" :class="{'selected-nav': selectedType == 1}" @click="selectedType = 1"><span class="nav-text">Разработка</span></a>
                <a href="#" class="nav-element" :class="{'selected-nav': selectedType == 2}" @click="selectedType = 2"><span class="nav-text">Администрирование</span></a>
                <a href="#" class="nav-element" :class="{'selected-nav': selectedType == 3}" @click="selectedType = 3"><span class="nav-text">Дизайн</span></a>
                <a href="#" class="nav-element" :class="{'selected-nav': selectedType == 4}" @click="selectedType = 4"><span class="nav-text">Менеджмент</span></a>
                <a href="#" class="nav-element" :class="{'selected-nav': selectedType == 5}" @click="selectedType = 5"><span class="nav-text">Маркетинг</span></a>
                <a href="#" class="nav-element" :class="{'selected-nav': selectedType == 6}" @click="selectedType = 6"><span class="nav-text">Научпоп</span></a>
            </div>
            
            
            <div id="login-axolotl"><img @click="openLoginModal()" v-if="IsaDay" src="img/ProfileIcon.png"><img @click="openLoginModal()" v-else src="img/ProfileIconNight.png"></div>
        </nav>
    </section>

    <!-- Основной контент -->
    <main id="content-block">
        <!-- Выбор редакции -->
        <section id="our-selection">
            <h2>Выбор редакции</h2>
            <div class="slider">
                <div class="slide-arrow" @click="switchThree()"><img src="img/arrow-left.png"></div>
                
                <div class="selection-posts" v-if="firstThree">
                    <img src="img/test.png">
                    <figcaption><span>Как научиться думать, как тестировщик</span></figcaption>
                </div>

                <div class="selection-posts" v-if="firstThree">
                    <img src="img/test3.jpeg">
                    <figcaption><span>Да пишите вы сами этот НАШ контент</span></figcaption>
                </div>

                <div class="selection-posts" v-if="firstThree">
                    <img src="img/test2.png">
                    <figcaption><span>Я не чувствую давления async</span></figcaption>
                </div>

                <div class="selection-posts" v-if="firstThree == false">
                    <img src="img/test4.jpg">
                    <figcaption><span>Советы о том, как не надо верстать</span></figcaption>
                </div>

                <div class="selection-posts" v-if="firstThree == false">
                    <img src="img/test5.png">
                    <figcaption><span>Когда «сделать плохо»==«сделать лучше»</span></figcaption>
                </div>

                <div class="selection-posts" v-if="firstThree == false">
                    <img src="img/test6.png">
                    <figcaption><span>Как я стал программистом, потом тимлидом</span></figcaption>
                </div>
                
                <div class="slide-arrow" @click="switchThree()"><img src="img/arrow-right.png"></div>
            </div>
        </section>

        <!-- Основной поток блога -->
        <section class="content-article">
            <div class="content-clause" v-for="article in articles">
                <!-- Автор и дата статьи -->
                <span class="clause-author">&{{ article.authorName }} &middot; <date>{{ b(article.date.getDate()) }}.{{ b(article.date.getMonth() + 1) }}.{{ b(article.date.getFullYear()) }}</date></span>
                <figcaption>
                    <!-- Картинка статьи -->
                    <img v-bind:src="article.image">
                    <div class="content-description-wrapper">
                        <!-- Заголовок пункта -->
                        <div class="content-head">{{ article.title }}</div>
                        <!-- Описание пункта -->
                        <div class="content-description">
                            {{ article.content }}
                        </div>
                        <!-- Ссылка в Сибирь -->
                        <div class="content-link"><a v-bind:href="article.articleUrl">Читать дальше в источнике... &rArr;</a></div>
                    </div>
                </figcaption>
            </div>
        </section>
    </main>

    <!-- Модальное окно авторизации -->
    <section id="authorize-modal" class="my-modal" v-bind:class="{ visible: loginModalOpen }">
        <div>
            <div class="close-modal" @click="closeModals()">x</div>

            <img v-if="loginOrPasswordIncorrect == false" src="img/hi.png" width="253">
            <img v-else src="img/angry.png" width="253">
            <h1 v-if="loginOrPasswordIncorrect == false">Привет!</h1>
            <h1 v-else>Oops!</h1>

            <input type="text" v-model="authLogin" class="modal-input" placeholder="Имя пользователя" style="margin-top: 10px;">
            <input type="password" v-model="authPassword" class="modal-input" placeholder="Пароль" style="margin-top: 30px;">

            <h4 class="modal-danger" v-bind:class="{ visible: loginOrPasswordIncorrect }" style="margin-top: 10px;">Неправильный логин или пароль!</h4>

            <button class="modal-button" style="margin-top: 40px;" @click="login()">Войти</button>
            <div id="link-wrapper"><a href="#" id="register-link" @click="openRegisterModal()">Новенький тут? Зарегистрироваться</a></div>
        </div>
    </section>

    <section id="register-modal" class="my-modal" v-bind:class="{ visible: registerModalOpen }">
        <div>
            <div class="close-modal" @click="closeModals()">x</div>

            <img v-if="passwordDoNotMatch == false" src="img/read.png" width="253">
            <img v-else src="img/no.png" width="253">
            <h1 v-if="passwordDoNotMatch == false">Давайте с Вами познакомимся!</h1>
            <h1 v-else>Ошибочка вышла!</h1>

            <input type="text" v-model="registerLogin" class="modal-input" placeholder="Имя пользователя" style="margin-top: 10px;">
            <div v-bind:class="{ warning: passwordDoNotMatch }"><input type="password" v-model="registerPassword" class="modal-input" placeholder="Пароль" style="margin-top: 20px;"></div>
            <div v-bind:class="{ warning: passwordDoNotMatch }"><input type="password" v-model="registerRePassword" class="modal-input" placeholder="Повторите пароль" style="margin-top: 20px;"></div>

            <h4 class="modal-danger" v-bind:class="{ visible: passwordDoNotMatch }" style="margin-top: 10px;">Пароли не совпадают!</h4>

            <button class="modal-button" style="margin-top: 10px; font-size: 34px;" @click="register()">Зарегистрироваться</button>
            <div id="link-wrapper"><a href="#" id="login-link" @click="openLoginModal()">Назад к логину</a></div>
        </div>
    </section>

    <!-- Футер -->
    <footer id="basement">
        <span>WebDev Team &#8251; 2021</span>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="api.js"></script>
    <script src="homepage.js"></script>
</body>
</html>