html, body
{
    background: white;
}

header 
{
    background-color: #C3AED6;
}

#basement
{
    background-color: #ECC8C9;
}

/*nav*/

#main-nav
{
    background-color: #FAF3DD; 
}

.nav-element
{
    color: black;
}

.nav-element:hover,
.nav-element:active
{
    color: black;
    box-shadow: 0 0 3px black;
}

.selected-nav
{
    background-color: #FFEFA0;
}

/* recommends */
#our-selection
{
background-color: #F6F6F6;
}

/* content */
.content-clause
{
background-color: #F6F6F6;
}

.content-link a
{
    color: black;
}

/* post.html */
#about-author
{
    background: #F8F8F8;
}

article
{
    background: #F8F8F8;
}

#comment-textarea
{
    background: #FDFDFD;
}

.modal-button
{
    background: #FFB0C3;
    color: #FFFFFF;
}

.comment
{
 background: #F8F8F8;
}