html, body
{
    background: white;
}

header 
{
    background-color: #C3AED6;
}

#basement
{
    background-color: #ECC8C9;
}

/*nav*/

#main-nav
{
    background-color: #FAF3DD; 
}

.nav-element
{
    color: black;
}

.nav-element:hover,
.nav-element:active
{
    color: black;
    box-shadow: 0 0 3px black;
}

.selected-nav
{
    background-color: #FFEFA0;
}

/* recommends */
#our-selection
{
background-color: #F6F6F6;
}

/* content */
.content-clause
{
background-color: #F6F6F6;
}

.content-link a
{
    color: black;
}

/* post.html */
#about-author
{
    background: #F8F8F8;
}

article
{
    background: #F8F8F8;
}

#comment-textarea
{
    background: #FDFDFD;
}

.modal-button
{
    background: #FFB0C3;
    color: #FFFFFF;
}

.comment
{
 background: #F8F8F8;
}

.name-and-registration h2
{
    padding: 30px 0 8px;
    position: relative;
}

.name-and-registration h2::before 
{
    content: "";
    position: absolute;
    left: 7%;
    bottom: 16px;
    width: 150px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(238,111,87,0.5);
    z-index: -1;
}

/* scrollbar */
::-webkit-scrollbar /*размеры ползунков*/
{
    width: 10px ;
}
  
::-webkit-scrollbar-track /*цвет дорожки*/
{
background-color: #f9f9fd
}

::-webkit-scrollbar-thumb /*свойства ползунка*/
{
    background-color: #f2bf93;
    /* background-image: repeating-linear-gradient(45deg, #ababcb, #d3d1e4 10px, #e8e2f0 10px, #e2cbdb 20px); */
    background-image: repeating-linear-gradient(45deg, #faaee6, #d35fae 10px, #e4d6e7 10px, #ece0e5 20px);
    border-radius: 5px ;
}

*::-webkit-scrollbar-thumb:hover 
{
    background-color:rgba(0,0,0,.3);
} 