/* Навигационная панель */
section.nav-flex
{
    display: flex;
    width: 100%;
    height: 96px;

    justify-content: center;
}

#main-nav
{   
    display: flex;
    justify-content: space-around;
    width: 1183px;
    height: 96px;

    position: relative;
    border-radius: 0px 0px 14px 14px;

    transition: background-color 0.2s;
}

#main-nav > .div-nav
{
    width: 900px;
    height: 96px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-element
{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    border-radius: 0px 0px 14px 14px;

    text-decoration: none;
    font: 1.7em "Amatic SC B";

    transition: color 0.2s;
}

#login-axolotl
{
    display: flex;
    align-items: center;

} 

#login-axolotl > img
{
    height: 90%;
}

.nav-element:before 
{
    content: '<';
}

.nav-element:after
{
    content: '>';
}

.nav-element.selected-nav:before
{
    content: '[';
}

.nav-element.selected-nav:after
{
    content: ']';
}

.selected-nav
{
    transition: background-color 0.2s;
}