html, body
{
    background: #3C2C3E;
    color: white;
}

header 
{
    background-color: #857699;
}

#basement
{
    background-color: #5F5F71;
}

/*nav*/

#main-nav
{
    background-color: #A39AB6; 
}

.nav-element
{
    color: white;
}

.nav-element:hover,
.nav-element:active
{
    color: white;
    box-shadow: 0 0 3px black;
}

.selected-nav
{
    background-color: #BEB6CF;
}

/* recommends */
#our-selection
{
background-color: #857980;
}

/* content */
.content-clause
{
background-color: #857980;
}

.content-link a
{
    color: whitesmoke;
}

/* post.html */
#about-author
{
    background: #857980;
}

article
{
    background: #857980;
}

#comment-textarea
{
    background: #ae8d8d;
    color: white;
}

::-webkit-input-placeholder  /* Chrome */
{
    color: #e6dede;
}
:-ms-input-placeholder       /* IE 10+ */
{
    color: #e6dede;
}
::-moz-placeholder           /* Firefox 19+ */
{
    color: #e6dede;
    opacity: 1;
}
:-moz-placeholder            /* Firefox 4 - 18 */
{
    color: #e6dede;
    opacity: 1;
}

.modal-button
{
    background: #f9c0c0;
}

.comment
{
    background-color: #A58B91;
}

::-webkit-scrollbar /*размеры ползунков*/
{
    width: 10px ;
}
  
::-webkit-scrollbar-track /*цвет дорожки*/
{
background-color: #3C2C3E
}

::-webkit-scrollbar-thumb /*свойства ползунка*/
{
    background-color: #f2bf93;
    background-image: repeating-linear-gradient(45deg, #2c2c44, #524d6a 10px, #90a2af 10px, #dbeaf2 20px);
    /* background-image: repeating-linear-gradient(45deg, #2D4262, #363237 10px, #af4b31 10px, #D09683 20px); */
    border-radius: 5px ;
}

*::-webkit-scrollbar-thumb:hover 
{
    background-color:rgba(0,0,0,.3);
} 