<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>X-Lotl &mdash; Название статьи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="lamp.css">
    <link rel="stylesheet" href="header_footer.css">
    <link rel="stylesheet" href="post.css">
</head>
<body>
    <link rel="stylesheet" v-bind:href="getModeCssFile()">

    <!-- Заголовок -->
    <header>
        <!-- Логотип X-Lotl -->
        <div id="logo-img"><a href="/Homepage.html"><img src="img/logo.png" title="X-Lotl"></a></div>
        <!-- Название -->
        <div id="main-title">
            <h1>ꊼ-꒒ꂦ꓄꒒</h1>
        </div>
        <div id="dark-theme-button">
            <div><input v-model='IsaDay' @change="onModeChange()" class="l" type="checkbox" checked></div>
        </div>
    </header>

     <!-- Основной контент -->
    <main>
        <!-- Про автора -->
        <section id="about-author">
            <div id="author-image-holder"><img src="img/ProfileIcon.png" width="79"></div>
            <div id="author-info">
                <div id="name-and-registration">
                    <h2>&{{ author.name }}</h2>
                    <h4>Зарегистрирован(-а) <date>{{ b(author.date.getDate()) }}.{{ b(author.date.getMonth() + 1) }}.{{ b(author.date.getFullYear()) }}</date></h4>
                </div>
                <div id="about-text-content">
                    {{ author.about }}
                </div>
            </div>
        </section>

        <article style="margin-top: 25px;">
            <section class="header">
                <section id="image-section"><img v-bind:src="article.imageUrl"></section>
                <section id="title">
                    <div class="main-section">
                        <h2>{{ article.title }}</h2>
                    </div>
                    <div class="author-section">
                        <p class="middle-text">Статья написана в <time>{{ b(article.date.getHours()) }}:{{ b(article.date.getMinutes()) }}</time><br><date>{{ b(article.date.getDate()) }}.{{ b(article.date.getMonth() + 1) }}.{{ b(article.date.getFullYear()) }}</date></p>
                    </div>
                </section>
            </section>

            <section id="article-content">
                <p v-for="paragraph in article.contentParagraphs">{{ paragraph }}</p>
            </section>
        </article>

        <!-- Комментарии -->
        <section id="comments">
            <!-- Оставление своего комментария -->
            <section id="leave-your-comment">
                <h2>Хотите оставить свой комментарий ?</h2>
                <textarea id="comment-textarea" placeholder="Введите текст Вашего комментария тут..." v-model="commentText"></textarea>
            </section>
            <button class="modal-button" @click="sendComment()">Отправить</button>

            <!-- Список всех комментариев -->
            <section id="comment-list">
                <div class="comment" v-for="comment in comments">
                    <div class="comment-header">
                        &{{ comment.authorName }} <b>·</b> <date>{{ b(comment.date.getDate()) }}.{{ b(comment.date.getMonth() + 1) }}.{{ b(comment.date.getFullYear()) }}</date> <b>·</b> <time>{{ b(comment.date.getHours()) }}:{{ b(comment.date.getMinutes()) }}</time>
                    </div>
                    <div class="comment-content">
                        <div class="comment-avatar"><img src="img/ProfileIcon.png" width="80"></div>
                        <div class="comment-text">{{ comment.content }}</div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <!-- Футер -->
    <footer id="basement">
        <span>WebDev Team &#8251; 2021</span>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="api.js"></script>
    <script src="post.js"></script>
</body>
</html>