@font-face {
	font-family: 'Kermel serif regular';
	src: url('fonts/Kermel_Serif_Regular.otf');
}

/* regular */
@font-face {
	font-family: "Amatic SC R";
	font-style: regular;
	src: url('AmaticSC-Regular.ttf');
}

/* bold */
@font-face {
	font-family: "Amatic SC B";
	font-style: bold;
	src: url('AmaticSC-Bold.ttf');
}
